body {
	overflow: hidden;
	cursor: url('/img/normal.png'), auto;
}
body.dragging {
	cursor: url('/img/dragging.png'), auto;
}

.locations {
	position: relative;
	z-index: 2;
}

.location {
	position: absolute;
}

.map img {
	pointer-events: none;
	-moz-user-select: none;
}

.search {
	right: 50px;
	position: fixed;
	top: 60px;
	width: 200px;
}
